@model IEnumerable<CentumApps.Domain.Entities.Content>


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Content Board</h1>
<p class="mb-4">
    Visual management untuk menampilkan visualisasi data harian operasional / non operasional di lapangan.
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        @* <h6 class="m-0 font-weight-bold text-primary">Content</h6> *@
        <a asp-controller="Content" asp-action="Create" class="btn btn-primary btn-icon-split btn-sm">
            <span class="icon text-white-50">
                <i class="bi bi-plus-circle"></i>
            </span>
            <span class="text">Create New Content</span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Judul Konten</th>
                        <th>Kategori</th>
                        <th>Status</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.ContentId</td>
                            <td>@obj.ContentTitle</td>
                            <td>@obj.ContentCategory</td>
                            <td>@if (@obj.IsActive)
                                {
                                    <i class="bi bi-check-circle-fill text-success m-3"></i>
                                } else {
                                    <i class="bi bi-check-circle-fill text-danger m-3"></i>
                                }                               
                            </td>
                            <td>
                                    <a asp-controller="Content" asp-action="Update" asp-route-contentId="@obj.ContentId"
                                       class="btn btn-success btn-sm">
                                        <i class="bi bi-pencil-fill"></i> Update
                                    </a>
                                    <a asp-controller="Content" asp-action="Delete" asp-route-contentId="@obj.ContentId"
                                       class="btn btn-danger btn-sm">
                                        <i class="bi bi-trash-fill"></i> Delete
                                    </a> 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>